.main_page {
	padding: 0 1.714285714rem;
	background-color: #fff;
	margin: 0 auto;
	max-width: 960px;
	max-width: 68.571428571rem;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 30px;
}

.content_title {
	color: #6c757d;
	text-align: left;
	margin-bottom: 0px;
	font-size: 25px;
	font-weight: 600;
}

.box {
	animation: changeshadow 1s ease-in infinite;
	/* 其它浏览器兼容性前缀 */
	-webkit-animation: changeshadow 1s linear infinite;
	-moz-animation: changeshadow 1s linear infinite;
	-ms-animation: changeshadow 1s linear infinite;
	-o-animation: changeshadow 1s linear infinite;
}

p {
	line-height: 30px;
}

li {
	margin-bottom: 8px;
	line-height: 30px;
}

.student_ul li {
	margin-bottom: 0;
	
}

@keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}

/* 添加兼容性前缀 */
@-webkit-keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}

@-moz-keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}

@-ms-keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}

@-o-keyframes changeshadow {
	0% {
		text-shadow: 0 0 4px #4cc134
	}

	50% {
		text-shadow: 0 0 40px #4cc134
	}

	100% {
		text-shadow: 0 0 4px #4cc134
	}
}
